.gameboard > [data-status="hidden"] {
    background-color: grey;
    cursor: pointer;
}

.gameboard > [data-status="mine"] {
    background-color: orangered;
}

.gameboard > [data-status="number"] {
    background-color: none;
}

.gameboard > [data-status="marked"] {
    background-color: yellow;
}

.gameboard {
    display: inline-grid;
    padding: 10px;
    grid-template-columns: repeat(var(--size), 40px);
    grid-template-rows: repeat(var(--size), 40px);
    gap: 2px;
}